.ui-container {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 100px;
    text-align: center;
    width: 100vw;
}

.ui-stats {
    text-align: left;
    position: absolute;
    right: 90px;
}

.ui-inventory {
    text-align: left;
    position: absolute;
    left: 150px;
}