.main-container {
    position: relative;
}

.ui-container {
    justify-content: space-around;
    display: flex;
    left: 50vw;
    top: 100px;
    text-align: center;
    width: 100vw;
}

.ui-stats {
    text-align: left;
    right: 90px;
}

.ui-inventory {
    text-align: left;
    left: 150px;
}


.end_round_btn {
    position: absolute;
    left: 30px;
    bottom: 30px;
}